.TodoItem {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  background-color: #FAFAFA;
  position: relative;
  display: flex;
  border-radius: 8px;
  border: 2px solid #caf5f5;
  overflow-wrap: break-word;
  flex-direction: column;
  justify-content: center;
}

.TodoItem--completed {
  background-color: #caf5f5;
}

.title {
  width: 90%;
  overflow-wrap: break-word;
  white-space: pre-line;
  border-bottom: 1px solid black;
  margin: 7px;
  margin-top: 50px;
}

.Icon {
  cursor: pointer;
  display: flex;
  border: 1px solid rgba(179, 171, 171, 0.281);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  font-size: 38px;
  font-weight: bold;
}

.Icon-delete {
  color: rgba(163, 159, 159, 0.664);
  position: absolute;
  right: 12px;
  top: 8px;
}

.Icon-delete:hover {
  background: rgb(170, 9, 9);
  color: rgb(179, 169, 169);
}

.TodoItem-p {
  width: 90%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: 7px;
}

.TodoItem-p--complete {
  color: black;
  text-decoration: line-through;
}
