.item-container-skeleton {
    display: grid;
    width: 95%;
    height: 190px;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
    box-shadow: 0 2px 5px darkgray;
    border-radius: 25px;
    margin-top: 24px;
 }

 .img-round {
  display: grid;
  place-self: end;
position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gray;
    right: 13px;
    top: -60px;
 }

 .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  
  .skeleton-text {
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 25px;
  }
  
  .skeleton-text__body {
    width: 91%;
    margin: 0 auto;
  }
  
  .skeleton-footer {
    width: 30%;
  }
  