.item-container-skeleton {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
    box-shadow: 0 2px 5px darkgray;
    height: 65px;
    border-radius: 50px;
    margin-top: 24px;
 }

 .img-round {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: gray;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
 }

 .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  
  .skeleton-text {
    height: 0.7rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 25px;
  }
  
  .skeleton-text__body {
    width: 75%;
  }
  
  .skeleton-footer {
    width: 30%;
  }
  