.modal {
  display: grid;
  width: 50%;
  height: 89vh;
  background: rgba(80, 87, 85, 0.5);
  position: absolute;
  top: 0px;
  align-content: center;
  border-radius: 20px;
  font-family: sans-serif;
}

@media(min-width: 800px) {
  .modal {
    display: grid;
    width: 50%;
    height: 89vh;
    background: rgba(80, 87, 85, 0.5);
    position: absolute;
    top: 18px;
    align-content: center;
    border-radius: 20px;
    font-family: sans-serif;
  }
}