.modal {
    display: grid;
    width: 90%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    height: 100vh;
    background: rgba(80, 87, 85, 0.5);
    grid-area: root;
        position: fixed;
        top: 0;
        align-content: space-around;
        justify-content: center;    
  }