body {
  display: grid;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #1E1E1F;
  font-family: sans-serif;
}

#root {
  background: #2a67863b;
  grid-area: root;
  position: relative;
  min-height: 89vh;
  display: grid;
  grid-template-areas:
    "todo1"
    "todo2"
    "todo3"
    "todo5";
  border-radius: 20px;

}

.container {
  width: 90%;
  display: grid;
  grid-template-areas:
    "todoMues"
    " root";
  margin: 0 auto;
}

#root2 {
  display: grid;
  margin: 10px 0;
  grid-area: todoMues;
  justify-content: center;
  background: rgba(97, 11, 11, 0.37);
  border-radius: 20px;

}

@media(min-width: 800px){
  .container {
    width: 50%;
    display: grid;
    grid-template-areas:
      "todoMues"
      " root";
    margin: 0 auto;

  }
  
}