body {
  background-color: #7ed3d34f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;

}

#root {
  width: 100%;
  grid-area: root;
  position: relative;
  min-height: 92vh;
  display: grid;
  grid-template-areas:
      "todo1"
      "todo2"
      "todo3"
      "todo5";
  box-shadow: 0 0px 10px rgb(241, 235, 235);
}
@media(min-width: 500px){
  #root {
    width: 95%;
    background: #fffffff3;
    grid-area: root;
    position: relative;
    min-height: 89vh;
    display: grid;
    grid-template-areas:
      "todo1"
      "todo2"
      "todo3"
      "todo5";
    border-radius: 20px;
    margin: 20px 0 8px;
    box-shadow: 0 0px 10px rgb(241, 235, 235);
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-areas:
  " root" 
  "todoMues";
  place-items: center;
}

#root2 {
  width: 100%;
  font-size: 13px;
  color: #000000;
  display: grid;
  grid-area: todoMues;
  justify-content: center;
  background: #fffffff3;
}
@media(min-width: 500px){
  #root2 {
    width: 95%;
    font-size: 13px;
    color: #000000;
    display: grid;
    grid-area: todoMues;
    justify-content: center;
    background: #fffffff3;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(241, 235, 235);
  
  }
  
}

@media(min-width: 800px){
  .container {
    width: 90%;
    display: grid;
    grid-template-areas:
    " root" 
    "todoMues";
  }
  
}