body {
  background-color: rgb(15, 19, 18);
  display: grid;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #1E1E1F;
}

#root {
  background: rgba(66, 47, 47, 0.952);
  grid-area: root;
  position: relative;
  min-height: 89vh;
  display: grid;
  grid-template-areas:
    "todo1"
    "todo2"
    "todo3"
    "todo5";
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0px 10px rgb(241, 235, 235);
}

.container {
  width: 90%;
  display: grid;
  grid-template-areas:
  " root" 
  "todoMues";
  margin: 0 auto;
}

#root2 {
  font-size: 13px;
  color: white;
  display: grid;
  margin: 10px 0;
  grid-area: todoMues;
  justify-content: center;
  background: rgba(73, 55, 55, 0.473);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgb(241, 235, 235);

}

@media(min-width: 800px){
  .container {
    width: 90%;
    display: grid;
    grid-template-areas:
    " root" 
    "todoMues";
    margin: 0 auto;

  }
  
}