.CreateTodoButton {
  grid-area: todo5;
  align-items: center;
  background: rgba(117, 92, 92, 0.63);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(241, 235, 235);
  color: #fafafa;
  cursor: pointer;
  display: grid;
  font-size: 50px;
  font-weight: 700;
  height: 60px;
  justify-content: space-evenly;
  place-self: flex-end;
  transform: rotate(0);
  transition: .7s ease;
  width: 60px;
  margin: 20px;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(180deg);
}
